.vscode
*.kilepr
figures/*pdf
figures/*pdf_tex
*.aux

thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glg
thesis.glo
thesis.gls
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.run.xml
thesis.thm
thesis.toc
thesis.acn
thesis.acr
thesis.alg
thesis.mw
thesis.mw.mw
thesis.4ct
thesis.4tc
thesis.pdf
thesis.tmp
thesis.txt
thesis.xdy
thesis.xref

defence.fdb_latexmk
defence.fls
defence.log
defence.nav
defence.out
defence.pdf
defence.snm
defence.toc
defence.acn
defence.bbl
defence.bcf
defence.blg
defence.glo
defence.run.xml
defence.xdy


generated/*.png
generated/*.pdf
generated/*.pdf_tex
generated/*.mkv
generated/*.mp4
generated/*.jpg

languagetool/*txt
languagetool/textidote.jar

.RData
.Rhistory
Rplots.pdf
.venv
.venv*
scripts/.idea
*.pfsx
data/data-role-cv/
data/data-role-cv_1/

diss.pdf
