.vscode
*.kilepr
figures/*pdf
figures/*pdf_tex
*.log
*.out
*.aux
*.tex.backup
*.fdb_latexmk
*.fls
*.glo
*.glg
*.gls
*.glsdefs
*.ist
*.lof
*.lot
*.synctex.gz
*.tdo
*.thm
*.toc
*.bbl
*.blg
*.brf
*.bcf
*.run.xml
*.synctex

diss.acn
diss.acr
diss.alg
diss.mw
diss.mw.mw

generated/*.pdf
generated/*.pdf_tex

languagetool/*txt

.RData
.Rhistory
Rplots.pdf
.venv
.venv*
scripts/.idea
*.pfsx
data/data-role-cv/
data/data-role-cv_1/

diss.pdf
